<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  
  {%if uploaded_successfully%}
  <form method="get" enctype="multipart/form-data" action="{%url 'generator:download'%}">
    {% csrf_token %}
    <button type="submit">download</button>
  </form>

  {%endif%}